.formbook{
    background-color: black;
    color: white;
}
.formbook input{
    background-color: rgb(148, 148, 148);
}

.fieldsdiv{
    display: flex;
    margin: 10px;
}
.formDiv{
    padding: 20px;
    border-radius: 7px;
    color:white;
    background-color: black;   
}

.bookingsDiv table{
    color: white;
    margin: 10px auto;
    width: 1580px;
}

.bookingsDiv table tr{
    background-color: black;
    border: 2px solid white;
}
.bookingsDiv table td, th{
    margin: 15px;
    padding: 15px;
    font-size: 19px;
}

.booking{
    font-size: 22px;
    font-weight: bold;
}
.books tr{
    margin: 5px;
    padding: 5px;
}