.reviews {
    width: 1080px;
    margin: 0 auto;
}

.tablereview{
    margin: 0 auto;
    color: white;
    width: 500px;
}

.tablereview table tr{
    background-color: black;
    border: 2px solid white;
}

.tablereview table tr td {
    padding: 7px;
}

.tablereview table tr th {
    padding: 7px;
} 