/* .reviewsRatingsDiv table tr{
    background-color: black;
    border: 2px solid white;
}
.reviewsRatingsDiv table td, th{
    margin: 15px;
    padding: 15px;
    font-size: 19px;
}

.booking{
    font-size: 22px;
    font-weight: bold;
}
.books tr{
    margin: 5px;
    padding: 5px;
} */