.App {
  text-align: center;
}


.container{
  background-color: black;
  width: 450px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 7px;
}


.maincontainer{
  height: 1000px;
}


.selectbox{
  background-color: black;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
}