/* .bookingsDiv table tr{
    background-color: black;
    border: 2px solid white;
}
.bookingsDiv table td, th{
    margin: 15px;
    padding: 15px;
    font-size: 19px;
}

.booking{
    font-size: 22px;
    font-weight: bold;
}
.books tr{
    margin: 5px;
    padding: 5px;
} */

.xflex{
    margin: 0 auto;
    width: 180px;
}

.spnbtn{
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border-radius: 7px;
    font-size: 20px;
}

.books:hover{
    background-color: rgb(0, 21, 0);
}